<div id="modal-js-example" class="modal">
  <div class="modal-background"></div>

  <div class="modal-content">
    <div class="box">
      <p>
        Welcome to Itemize It! We're here to make keeping track of equipment easy. Just make an account by clicking the link above.
      </p>
    </div>
  </div>

  <button class="modal-close is-large" aria-label="close"></button>
</div>
</body>
</html>
