<link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <% if (user) { %>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <h1>Itemize It!</h1>
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end">
          <a href='/items' class="navbar-item">
            Browse Items
          </a>
          <a href="/profiles" class="navbar-item">
            All Accounts
          </a>
          <a href="auth/logout" class="navbar-item">
            Log Out
          </a>
        </div>
      </div>
    </nav>


  <% } else { %>  
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <h1>Itemize It!</h1>
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end">
          <a href="auth/google" class="button is-light"
          id="sign-in-button">
            Sign in with Google
          </a>
        </div>
      </div>
    </nav>  
    <button class="js-modal-trigger" data-target="modal-js-example">
      New Here? Click Me!
    </button>

  <% } %> 


