  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
</head>
<body>
  <nav id="nav-container">
      <% if (user) { %>
      <div>
        <ul>
          <li><a>Itemize It!</a></li>
          <li><a href="/items">Browse Items</a></li>
          <li>
            <a href="/auth/logout">
              <button type="submit">Logout</button>
            </a>
          </li>
        </ul>
      </div>
    <% } else { %>
      <a href="/auth/google" class="siwg-link">
        <button type="submit" class="siwg">
          <img id="siwg-image" alt="Sign in with Google" />
        </button>
      </a>
    <% } %>
  </nav>
