  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
</head>
<body>
  <nav id="nav-container">
      <% if (user) { %>
        <div class="columns">
          <div class="column">
            Itemize It!
          </div>
          <div class="column">
            <a href="/items">Browse Items</a>
          </div>
          <div class="column">
            <a href="/auth/logout">Log Out</a>
          </div>
    <% } else { %>
      <a href="/auth/google" class="siwg-link">
        <button type="submit" class="siwg">
          <img id="siwg-image" alt="Sign in with Google" />
        </button>
      </a>
    <% } %>
  </nav>
