<% if (!user) { %>
  <link rel="stylesheet" href="/stylesheets/siwg.css">
<% } %>
</head>
<body>
  <% if (user) { %>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <h1>Itemize It!</h1>
        <nav id="nav-container">
      </div>
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a href="/items" class="button is-light">
            Browse Items
          </a>
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-light">
                  My Account
                </a>
                <a href="/auth/logout" class="button is-light">
                  Log Out
                </a>
              </div>
            </div>
          </div>
        </div>
      </nav>
    <% } else { %>
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <h1>Itemize It!</h1>
          <nav id="nav-container">
        </div>
        <a href="/auth/google" class="button is-light">
          <button type="submit" >Sign In with Google</button>
        </a>
    </nav>
      <% } %>
    </nav>
