</head>
<body>
  <% if (user) { %>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <h1>Itemize It!</h1>
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a href='/items' class="navbar-item">
            Browse Items
          </a>
          <a class="navbar-item">
            Account
          </a>
          <a href="auth/logout" class="navbar-item">
            Log Out
          </a>
        </div>
      </div>
    </nav>
  <% } else { %>  
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <h1>Itemize It!</h1>
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a href="auth/google" class="button is-light">Sign In</a>
        </div>
      </div>
    </nav>
  <% } %> 


