<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <% if (profile.avatar) { %> 
    <div>
      <img src="<%= profile.avatar %> ">
    </div>
  <% } %> 
</main>






<%- include('../partials/footer') %>