<%- include ('../partials/html-head') %>
<%- include ('../partials/nav') %>

<section>
  <h1>All Items</h1>
  <% items.forEach(item => { %> 
    <div id="item-container">
      <img src="https://via.placeholder.com/150">
      <h3><%= item.title %> </h3>
      <p>View Details</p>
  <% }) %> 
  <a href="../items/new.ejs">Create a New Item</a>
</section>





<%- include ('../partials/footer') %> 