<%- include ('../partials/html-head') %>
<%- include ('../partials/nav') %>

<section>
  <h1>All Items</h1>
  <% items.forEach(item => { %> 
    <div id="item-container">
      <h3><%= item.title %> </h3>
      <p>View Details</p>
      </div>
  <% }) %> 
  <a href="/items/new">Create a New Item</a>
</section>





<%- include ('../partials/footer') %> 