<%- include ('../partials/html-head') %> 
<%- include ('../partials/nav') %> 

<main>
  <h1><%= title %> </h1>
  <form id="new-form" action="/items" method="POST">
    <label for="title-input">Name:</label>
    <input type="text" name="title" id="title-input">
    <label for="condition-input">Condition:</label>
    <select name="condition" id="condition-input">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>
    <label for="date-input">Date Aqcuired:</label>
    <input type="date" name="date" id="date-input">
    <button type="submit">Add Item</button>
  </form>
</main>















<%- include ('../partials/footer') %> 